*{
  margin: 0;
  padding: 0;
}
.autherdetails{
  width: 100vw;
  height: 100vh;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  

}
.autherdetails >img{
  width: 400px;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 30px;

  box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.75);
}
.imgholder>input{
margin-left: 50px;
}
.aboutauther > input{
 margin: 10px;
 width: 300px;
 height: 22px;
}
.aboutauther > button {
  padding: 0px 30px 0px 30px;
  justify-content: center;
  height: 23px;
  border-radius: 10px;

}
.App{
display: grid;
place-items: center;

  height: 100vh;

  background-color: #dadbd3;

}
.app_body{
 display: flex;
 background-color: #ededed;
 height: 90vh;
 width: 90vw;
  margin-top: -50px;

 box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);

}


